.home-container.container-fluid{
    padding: 15%;
}

.home-desc {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
}

.md-3.form-floating {
    margin-bottom: 3%;
}

.form-select {
    margin-bottom: 3%;
}

.button-row {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}